extends layout

block content
  .w3-card-4 
    header.w3-container.w3-teal
      h1 
        span #{title} 
          a.w3-btn.w3-round.w3-grey(href="/compositores/registo") +

    .w3-container
      table.w3-table-all
        tr 
          th ID
          th Name
          th Biography 
          th Birth-Date 
          th Passing-Date 
          th Period
          th Actions
        each elem in lista
          tr 
            td= elem.id
            td
              a(href='/compositores/' + elem.id) #{elem.nome} 
            td= elem.bio
            td= elem.dataNasc
            td= elem.dataObito
            td= elem.periodo
            td
              span [
              a(href="/compositores/edit/" + elem.id) Edit
              span ]
              span [
              a(href="/compositores/delete/" + elem.id) Delete
              span ]
    footer.w3-container.w3-teal
      h5 Generado por EngWeb2024 in #{date}